<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liuxf.live.monitor.dao.mapper.DdRobotConfigMapper">
  <resultMap id="BaseResultMap" type="liuxf.live.monitor.dao.model.DdRobotConfig">
    <!--@mbg.generated-->
    <!--@Table dd_robot_config-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="monitor_server_id" jdbcType="INTEGER" property="monitorServerId" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
    <result column="web_hook" jdbcType="VARCHAR" property="webHook" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, monitor_server_id, note, secret, web_hook, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from dd_robot_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from dd_robot_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="liuxf.live.monitor.dao.model.DdRobotConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dd_robot_config (monitor_server_id, note, secret, 
      web_hook, create_time, update_time
      )
    values (#{monitorServerId,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}, 
      #{webHook,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="liuxf.live.monitor.dao.model.DdRobotConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into dd_robot_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="monitorServerId != null">
        monitor_server_id,
      </if>
      <if test="note != null and note != ''">
        note,
      </if>
      <if test="secret != null and secret != ''">
        secret,
      </if>
      <if test="webHook != null and webHook != ''">
        web_hook,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="monitorServerId != null">
        #{monitorServerId,jdbcType=INTEGER},
      </if>
      <if test="note != null and note != ''">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="secret != null and secret != ''">
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="webHook != null and webHook != ''">
        #{webHook,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="liuxf.live.monitor.dao.model.DdRobotConfig">
    <!--@mbg.generated-->
    update dd_robot_config
    <set>
      <if test="monitorServerId != null">
        monitor_server_id = #{monitorServerId,jdbcType=INTEGER},
      </if>
      <if test="note != null and note != ''">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="secret != null and secret != ''">
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="webHook != null and webHook != ''">
        web_hook = #{webHook,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="liuxf.live.monitor.dao.model.DdRobotConfig">
    <!--@mbg.generated-->
    update dd_robot_config
    set monitor_server_id = #{monitorServerId,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      web_hook = #{webHook,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-01-05-->
  <select id="selectByMonitorServerId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from dd_robot_config
    where monitor_server_id=#{monitorServerId,jdbcType=INTEGER}
  </select>
</mapper>