<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liuxf.live.monitor.dao.mapper.MonitorServerMapper">
  <resultMap id="BaseResultMap" type="liuxf.live.monitor.dao.model.MonitorServer">
    <!--@mbg.generated-->
    <!--@Table monitor_server-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="notifyer_phone" jdbcType="VARCHAR" property="notifyerPhone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ip_address, note, `status`, notifyer_phone, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from monitor_server
    where id = #{id,jdbcType=INTEGER}
      and ip_address = #{ipAddress,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from monitor_server
    where id = #{id,jdbcType=INTEGER}
      and ip_address = #{ipAddress,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="liuxf.live.monitor.dao.model.MonitorServer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into monitor_server (ip_address, note, `status`, 
      notifyer_phone, create_time, update_time
      )
    values (#{ipAddress,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{notifyerPhone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="liuxf.live.monitor.dao.model.MonitorServer" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into monitor_server
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ipAddress != null and ipAddress != ''">
        ip_address,
      </if>
      <if test="note != null and note != ''">
        note,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="notifyerPhone != null and notifyerPhone != ''">
        notifyer_phone,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ipAddress != null and ipAddress != ''">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="note != null and note != ''">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="notifyerPhone != null and notifyerPhone != ''">
        #{notifyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="liuxf.live.monitor.dao.model.MonitorServer">
    <!--@mbg.generated-->
    update monitor_server
    <set>
      <if test="note != null and note != ''">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="notifyerPhone != null and notifyerPhone != ''">
        notifyer_phone = #{notifyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and ip_address = #{ipAddress,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="liuxf.live.monitor.dao.model.MonitorServer">
    <!--@mbg.generated-->
    update monitor_server
    set note = #{note,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=SMALLINT},
      notifyer_phone = #{notifyerPhone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and ip_address = #{ipAddress,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-01-05-->
  <select id="selectByIpAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from monitor_server
        where ip_address=#{ipAddress,jdbcType=VARCHAR} and status = 1
    </select>

<!--auto generated by MybatisCodeHelper on 2021-01-05-->
  <select id="selectByStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from monitor_server
    where `status`=#{status,jdbcType=SMALLINT}
  </select>
</mapper>